.main-button.send-btn {
  padding-right: 28px;
  padding-left: 28px;
  display: flex;
  justify-content: center;
  align-items: center;

  &::after {
    content: '';
    display: inline-block;
    width: 24px;
    height: 24px;
    margin-left: 10px;

    background-image: url(../img/icons/send.svg);
    background-size: contain;
    background-repeat: no-repeat;
  }
}

.main-button {
  padding: 10px 32px;

  color: #ffffff;
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;

  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: #188ce8;
  }
}
