:root {
  --text-main-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primary-bg-color: #ffffff;
  --secondary-bg-color: #2f303a;
  --primary-white-color: #ffffff;
  --secondary-white-color: rgba(255, 255, 255, 0.6);
  --primary-bg-button: #f5f4fa;
  --icons-color: #afb1b8;
}

// основной цвет фона #FFFFFF
// цвет основного текста #757575
// вторичный цвет #212121
// акцент #2196F3
// белый #FFFFFF
// белый с прозрачностью rgba(255, 255, 255, 0.6)
// цвет фона шапки и футера #2F303A
// вторичный цвет фона #F5F4FA
// 1200
